/* GENERAL PAGE SETUP */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f7;
  margin: 0;
  padding: 0;
}

/* OUTER BOX CONTAINING LOGIN FORM */
.login-container {
  max-width: 350px;
  margin: 100px auto; /* centers the box */
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* FORM LAYOUT */
.login-form {
  display: flex;
  flex-direction: column; /* stacks inputs vertically */
  gap: 15px;
  margin-top: 20px;
}

/* TEXT BOX STYLING */
.login-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* BUTTON STYLING */
button[type="submit"] {
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* BUTTON HOVER EFFECT */
button[type="submit"]:hover {
  background-color: #357ab8;
}

.header-wrapper{
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  display: inline-block;
}

.btn-wrapper{
  position: absolute;
  right: 20px;
  display:inline-block;
}

.signup-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 120px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #5a6268;
}

/* FORGOT PASSWORD TEXT/LINK */
.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #4a90e2;
  text-decoration: none;
}

/* HOVER UNDERLINE FOR LINK */
.forgot-password a:hover {
  text-decoration: underline;
}